.hasher {
	padding: .5rem 1rem;
	border: 1px solid black;
	border-radius: 1rem;
}

.hasher label[for="drop-files"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10rem;
	border: 1px solid black;
	border-radius: 1rem;
}

.hasher label[for="hashers"] {
	padding: 1rem 0;
}
